<div class="image-container" ng-style="{textAlign: widget.style.align }">
    <a class="image-link" href="{{widget.style.link}}">
    	<img src="{{widget.style.src}}" class="sisenseImage"
    		 ng-class="{imageWidget: widget.style.transform === 'stretch', nolink:widget.style.link === ''}" ></a>
</div>