.image-container {

    padding: 16px;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    display: block;
    background: transparent;
    margin: 0 auto;
}

.image-container img{
    max-width:100%;
    max-height:100%;
}

img.imageWidget {
    top: 0;
    width: 100%;
    height: 100%;
}

.nolink{
	cursor:default; 
}