<div data-ng-controller="plugin-imageWidget.controllers.imageWidgetStylerController">

    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="checker-pane-holder">
                <div class="checker-pane-title">IMAGE URL</div>
            </div>
            <input type="text"
                   placeholder="Image URL"
                   ng-change="onChange($event)"
                   ng-model="model.src"
                   style="width: 100%" ;
                    >
        </div>
		<div class="pane-row">
            <input type="text"
                   placeholder="Link URL"
                   ng-model="model.link"
                   style="width: 100%";
                   >
            </div>
    </div>

    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="checker-pane-holder">
                <div class="checker-pane-title">ALIGNMENT</div>
            </div>
            <div class="type-holder">
                <div data-ng-repeat="align in ['left','center','right']"
                     data-ng-class="{ selected: align == alignImage}"
                     data-ng-click="changeAlign(align)"
                     class="radio-option-item">
                    <div class="custom-radio-btn"
                         data-ng-class="{ selected: align == alignImage}"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">{{align}}</div>
                </div>
            </div>

        </div>
    </div>

    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="checker-pane-holder">
                <div class="checker-pane-title">SIZE</div>
            </div>
            <div class="type-holder">
                <div data-ng-repeat="transform in ['original','stretch']"
                     data-ng-class="{ selected: transform == transformImage}"
                     data-ng-click="changeTransform(transform)"
                     class="radio-option-item">
                    <div class="custom-radio-btn"
                         data-ng-class="{ selected: transform == transformImage}"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">{{transform}}</div>
                </div>
            </div>

        </div>
    </div>
</div>